<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">

    <!--    Style filter-->
    <link rel="stylesheet" th:href="@{/styles/css/filter.css}">

    <style th:inline="text">
        .cart img {
            max-height: 50px;
        }
    </style>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="header-logo">
                <a th:href="@{/}">Library</a>
            </div>

            <nav class="header-nav">
                <ul>
                    <li>
                        <a th:href="@{/books}">Books</a>
                        <div class="dropdown-menu">
                            <p><a th:href="@{/books/series}">Series</a></p>

                            <p><a th:href="@{/authors}">Authors</a></p>

                            <p><a th:href="@{/books/publishingHouses}">Houses</a></p>

                            <p><a th:href="@{/books/genres}">Genres</a></p>
                        </div>
                    </li>

                    <li sec:authorize="hasAnyRole('READER', 'LIBRARIAN')" th:each="user : ${users}">
                        <p th:if="${#authentication.getName() == user.username}">
                            <a th:href="@{/users/{userId}/(userId=${user.id})}">Account</a>
                        </p>
                    </li>

                    <li sec:authorize="hasRole('READER')">
                        <p><a th:href="@{/orders/userOrders}">Orders</a></p>
                    </li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <p><a th:href="@{/users/}">Users</a></p>
                    </li>

                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')">
                        <p><a th:href="@{/orders/}">Orders</a></p>
                    </li>
                </ul>
            </nav>

            <div class="header-login">
                <a class="btn" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

                <span class="header-login-name" sec:authentication="name" sec:authorize="isAuthenticated()">
                    Username
                </span>

                <form action="/logout" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn" type="submit">Logout</button>
                </form>

                <a class="cart" th:href="@{/orders/cart}">
                    <img alt="Cart" th:src="@{/images/home/icon/cart2.svg}">
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <header>
        <div>
            <form action="/orders">
                <label class="search-label" for="orderDate">
                    <button class="btn search" type="submit">Filter</button>

                    <input class="search-input" id="orderDate" name="orderDate" placeholder="Order date"
                           th:value="${filter.orderDate}" type="date">

                    <input class="search-input" id="returnDate" name="returnDate" placeholder="Return date"
                           th:value="${filter.returnDate}" type="date">

                    <input class="search-input" id="page" name="page" th:value="${orders.metadata.page}" type="number">

                    <input class="search-input" id="size" name="size" th:value="${orders.metadata.size}" type="number">
                </label>
            </form>
        </div>
    </header>

    <div class="product-container">
        <section class="featured-section">
            <div class="container">
                <div class="products-wrapper" th:each="order : ${orders.content}">
                    <a class="product-link" th:href="@{'/orders/' + ${order.id}}">
                        <div class="product">
                            <h4 class="product_title">
                                <span th:text="${order.orderDate}">Order date</span>
                            </h4>

                            <h4 class="product_title">
                                <span th:text="|${order.user.firstName} ${order.user.lastName}|">Return date</span>
                            </h4>

                            <h4 class="product_title">
                                <span th:text="${order.orderStatus.name}">Status</span>
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>

</body>
</html>