<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">
</head>

<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>

<main>
    <div class="product-element" sec:authorize="hasRole('ADMIN')">
        <form method="post" th:action="@{/orders/{orderId}/update(orderId=${order.id})}" th:object="${order}">
            <label for="status">Status
                <select id="status" name="orderStatusId">
                    <option th:each="status : ${statuses}"
                            th:selected="${status.id == order.orderStatus.id}"
                            th:text="${status.name}"
                            th:value="${status.id}">
                    </option>
                </select>
            </label><br>

            <label for="user">User
                <select id="user" name="userId">
                    <option th:each="user : ${users}"
                            th:selected="${user.id == order.user.id}"
                            th:text="${user.username}"
                            th:value="${user.id}">
                    </option>
                </select>
            </label><br>

            <label for="orderDate">Order date:
                <input id="orderDate" name="orderDate" th:value="*{orderDate}" type="datetime-local">
            </label><br>

            <label for="returnDate">Return date:
                <input id="returnDate" name="returnDate" th:value="*{returnDate}" type="datetime-local">
            </label><br>

            <div th:each="book : ${books}">
                <a th:href="@{'/books/' + ${book.id}}">
                    <span th:text="${book.title}">Title</span>
                </a>
            </div>

            <div class="button">
                <button class="btn" type="submit">Update</button>
            </div>
        </form>

        <div class="button-form">
            <div class="button">
                <form class="button" method="post" sec:authorize="hasRole('ADMIN')"
                      th:action="@{/orders/{orderId}/delete(orderId=${order.id})}">
                    <button class="btn" type="submit">Remove</button>
                </form>
            </div>
        </div>
    </div>
</main>

<main>
    <div class="product-element" sec:authorize="hasRole('LIBRARIAN')" th:object="${order}">
        <div class="element">
            <h3>User: </h3>

            <a th:href="@{'/users/' + *{user.id}}" th:text="|*{user.firstName} *{user.lastName}|"></a>
        </div>

        <div class="element">
            <h3>Status:</h3>

            <p th:text="*{orderStatus.name}">Status</p>
        </div>

        <div class="element">
            <h3>Order date:</h3>

            <p th:text="*{orderDate}">Order date</p>
        </div>

        <div class="element">
            <h3>Return date:</h3>

            <p th:text="*{returnDate}">Return date</p>
        </div>

        <div class="element" th:each="book : ${books}">
            <h3>Title:</h3>

            <a th:href="@{'/books/' + ${book.id}}" th:text="${book.title}"></a>
        </div>
    </div>
</main>

<main sec:authorize="hasRole('READER')">
    <div class="product-element" th:each="order : ${orders}">
        <div class="element">
            <h3>Status:</h3>

            <p th:text="${order.orderStatus.name}">Status</p>
        </div>

        <div class="element">
            <h3>Order date:</h3>

            <p th:text="${order.orderDate}">Order date</p>
        </div>

        <div class="element">
            <h3>Return date:</h3>

            <p th:text="${order.returnDate}">Return date</p>
        </div>
        <br>
    </div>
    <br>
</main>

</body>
</html>