<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">
</head>

<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('ADMIN','LIBRARIAN')">
        <form enctype="multipart/form-data" method="post" th:action="@{/authors/}" th:object="${author}">
            <label for="firstName"> First name:
                <label th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></label>

                <input id="firstName" name="firstName" th:value="*{firstName}" type="text">
            </label><br>

            <label for="lastName"> Last name:
                <label th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></label>

                <input id="lastName" name="lastName" th:value="*{lastName}" type="text">
            </label><br>

            <label for="image"> Image:
                <input id="image" name="image" type="file">
            </label><br>

            <label for="birthday">Birthday:
                <input id="birthday" name="birthday" th:value="*{birthday}" type="date">
            </label><br>

            <label for="dateDeath">Date death:
                <input id="dateDeath" name="dateDeath" th:value="*{dateDeath}" type="date">
            </label><br>

            <label for="description"> Description:
                <input id="description" name="description" th:value="*{description}" type="text">
            </label><br>

            <div class="last">
                <div class="button-form">
                    <button class="btn" type="submit">Add new author</button>
                </div>
            </div>

            <div th:if="${errors}">
                <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
            </div>
        </form>
    </div>
</main>


</body>
</html>