<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="header-logo">
                <a th:href="@{/}">Library</a>
            </div>

            <nav class="header-nav">
                <ul>
                    <li>
                        <a th:href="@{/books}">Books</a>
                        <div class="dropdown-menu">
                            <p><a th:href="@{/books/series}">Series</a></p>
                            <p><a th:href="@{/authors}">Authors</a></p>
                            <p><a th:href="@{/books/publishingHouses}">Houses</a></p>
                            <p><a th:href="@{/books/genres}">Genres</a></p>
                        </div>
                    </li>

                    <li sec:authorize="hasAnyRole('READER', 'LIBRARIAN')" th:each="user : ${users}">
                        <p th:if="${#authentication.getName() == user.username}">
                            <a th:href="@{/users/{userId}/(userId=${user.id})}">Account</a>
                        </p>
                    </li>

                    <li sec:authorize="hasRole('READER')">
                        <p>
                            <a th:href="@{/orders/order}">Orders</a>
                        </p>
                    </li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <p>
                            <a th:href="@{/users/}">Users</a>
                        </p>
                    </li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <p>
                            <a th:href="@{/orders/}">Orders</a>
                        </p>
                    </li>
                </ul>
            </nav>

            <div class="header-login">
                <a class="btn" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

                <span class="header-login-name" sec:authentication="name" sec:authorize="isAuthenticated()">
                    Username
                </span>

                <form action="/logout" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn" type="submit">Logout</button>
                </form>

                <a class="cart" th:href="@{/orders/cart}">
                    <img alt="Cart" th:src="@{/images/home/icon/cart2.svg}">
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('ADMIN','LIBRARIAN')">
        <form enctype="multipart/form-data" method="post"
              th:action="@{/authors/{authorId}/update(authorId=${author.id})}" th:object="${author}">
            <label for="firstName"> First name:
                <input id="firstName" name="firstName" th:value="*{firstName}" type="text">
            </label><br>

            <label for="lastName"> Last name:
                <input id="lastName" name="lastName" th:value="*{lastName}" type="text">
            </label><br>

            <div th:if="${author.image}">
                <img alt="Author image" th:src="@{/authors/{authorId}/image(authorId=${author.id})}">
            </div>

            <label for="image"> Image:
                <input id="image" name="image" type="file">
            </label><br>

            <label for="birthday">Birthday:
                <input id="birthday" name="birthday" th:value="*{birthday}" type="date">
            </label><br>

            <label for="dateDeath">Date death:
                <input id="dateDeath" name="dateDeath" th:value="*{dateDeath}" type="date">
            </label><br>

            <label for="description"> Description:
                <input id="description" name="description" th:value="*{description}" type="text">
            </label><br>

            <div class="button">
                <button class="btn" type="submit">Update</button>
            </div>
        </form>

        <div th:if="${errors}">
            <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
        </div>

        <div class="button-form">
            <div class="button">
                <form class="button" method="post" sec:authorize="hasRole('ADMIN')"
                      th:action="@{/authors/{authorId}/delete(authorId=${author.id})}">
                    <button class="btn" type="submit">Remove</button>
                </form>
            </div>
        </div>
    </div>
</main>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('READER', 'GUSET')">
        <div class="element">
            <h3>Name: </h3>

            <p th:text="|${author.firstName} ${author.lastName}|"></p>
        </div>

        <div class="img-book" th:if="${author.image}">
            <img alt="book image" th:src="@{/authors/{authorId}/image(authorId=${author.id})}">
        </div>

        <div class="element" th:if="${author.birthday != null}">
            <h3>Birthday: </h3>

            <p th:text="${author.birthday}"></p>
        </div>

        <div class="element" th:if="${author.dateDeath != null}">
            <h3>Date death: </h3>

            <p th:text="${author.dateDeath}"></p>
        </div>

        <div class="element" th:each="book : ${books}" th:if="${books != null}">
            <h3>Book: </h3>

            <a th:href="@{'/books/' + ${book.id}}" th:text="${book.title}">Books</a>
        </div>

        <div class="element" th:if="${author.description != null}">
            <h3>Description: </h3>

            <p th:text="${author.description}"></p>
        </div>
    </div>
</main>

</body>
</html>