<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for home page-->
    <link rel="stylesheet" th:href="@{/styles/css/home/home.css}">

    <!--    Style for home page-->
    <link rel="stylesheet" th:href="@{/styles/css/book/book.css}">

</head>
<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>

<!--<form action="/books">-->
<!--    <label for="title">Title:-->
<!--        <input id="title" name="title" th:value="${filter.title}" type="text">-->
<!--    </label>-->
<!--    <label for="subtitle">Subtitle:-->
<!--        <input id="subtitle" name="subtitle" th:value="${filter.subtitle}" type="text">-->
<!--    </label>-->
<!--    <label for="year">Year:-->
<!--        <input id="year" name="year" th:value="${filter.year}" type="text">-->
<!--    </label><br>-->
<!--    <label for="page">Page:-->
<!--        <input id="page" name="page" th:value="${filter.page}" type="text">-->
<!--    </label>-->
<!--    <button type="submit">Filter</button>-->
<!--    <div>-->
<!--        <label for="page1">Page:-->
<!--            <input id="page1" name="page" th:value="${books.metadata.page}" type="number">-->
<!--        </label>-->
<!--        <label for="size" th:value="${books.metadata.size}">Size:-->
<!--            <input id="size" name="size" type="number">-->
<!--        </label>-->
<!--    </div>-->
<!--</form>-->

<main>
    <section class="featured-section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header-title">Books</h2>
                <div class="section-header-description">
                    <p>New books - new reading</p>
                </div>
            </div>

            <!--            <div th:each="book : ${books.content}">-->


            <!--                <div th:if="${book.image}">-->
            <!--                    <img alt="User image" th:src="@{/api/v1/books/{bookId}/image(bookId=${book.id})}">-->
            <!--                </div>-->

            <!--            </div>-->

            <div class="products-wrapper" th:each="book : ${books.content}">
                <div class="product">
                    <div th:if="${book.image}">
                        <img class="product-image" alt="User image"
                             th:src="@{/api/v1/books/{bookId}/image(bookId=${book.id})}">
                    </div>

                    <h4 class="product_title">
                        <a th:href="@{'/books/' + ${book.id}}" th:text="${book.title}"> Book</a>
                    </h4>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>

</body>
</html>