<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for home page-->
    <link rel="stylesheet" th:href="@{/styles/css/home/home.css}">

    <!--    Style for home page-->
    <link rel="stylesheet" th:href="@{/styles/css/book/book.css}">

    <!--    Style filter-->
    <link rel="stylesheet" th:href="@{/styles/css/filter.css}">

</head>
<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>

<main>
    <div class="main-search">
        <form action="/books" class="search">
            <div class="search-filter">
                <label class="search-label" for="title">
                    <input class="section-input-books" id="title" name="title" th:value="${filter.title}" type="text">
                    <button class="btn" type="submit">Search</button>
                </label>

            </div>

            <div>
                <label class="search-label" for="page">Page:
                    <input class="section-input" id="page" name="page" th:value="${books.metadata.page}" type="number">
                </label>

                <label class="search-label" for="size" th:value="${books.metadata.size}">Size:
                    <input class="section-input" id="size" name="size" type="number">
                </label>
            </div>

        </form>
    </div>

    <section class="featured-section">
        <div class="container">

            <div class="section-header">
                <h2 class="section-header-title">Books</h2>
                <div class="section-header-description">
                    <p>New books - new reading</p>
                </div>
            </div>

            <div class="products-wrapper" th:each="book : ${books.content}">
                <a class="product-link" th:href="@{'/books/' + ${book.id}}">
                    <div class="product">
                        <img alt="Product image" class="product-image" th:if="${book.image}"
                             th:src="@{/api/v1/books/{bookId}/image(bookId=${book.id})}">

                        <h4 class="product_title">
                            <span th:text="${book.title}">Title</span>
                        </h4>
                    </div>
                </a>
            </div>

        </div>
    </section>
</main>

<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>

</body>
</html>