<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">

    <!--    Style filter-->
    <link rel="stylesheet" th:href="@{/styles/css/filter.css}">
</head>

<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>

<main>
    <header>
        <div class="header-search">
            <form action="/books" class="search">
                <label class="search-label" for="title">
                    <button class="btn search" type="submit">Filter</button>

                    <input class="search-input" id="title" name="title" placeholder="Search" th:value="${filter.title}"
                           type="text">

                    <input class="search-input" id="page" name="page" th:value="${books.metadata.page}" type="number">

                    <input class="search-input" id="size" name="size" th:value="${books.metadata.size}" type="number">

                    <a class="btn" sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')" th:href="@{/books/addBook}">
                        Add book
                    </a>
                </label>
            </form>
        </div>
    </header>

    <div class="product-container">
        <section class="featured-section">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-header-title">Books</h2>

                    <div class="section-header-description">
                        <p>New books - new reading</p>
                    </div>
                </div>

                <div class="products-wrapper" th:each="book : ${books.content}">
                    <a class="product-link" th:href="@{'/books/' + ${book.id}}">
                        <div class="product">
                            <img alt="Product image" class="product-image" th:if="${book.image}"
                                 th:src="@{/api/v1/books/{bookId}/image(bookId=${book.id})}">

                            <h4 class="product_title">
                                <span th:text="${book.title}">Title</span>
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>

<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>

</body>
</html>