<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Book series</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">
</head>

<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="last">
        <div class="button-form">
            <a class="btn btn-big" th:href="@{/books/series/}">Book series</a>
        </div>
    </div>
</header>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('ADMIN','LIBRARIAN')">
        <form method="post" th:action="@{/books/series/{seriesId}/update(seriesId=${series.id})}"
              th:object="${series}">

            <label for="name"> Name:
                <input id="name" name="name" th:value="*{name}" type="text">
            </label><br>

            <div class="button">
                <button class="btn" type="submit">Update</button>
            </div>
        </form>

        <div class="button-form">
            <div class="button">
                <form class="button" method="post" sec:authorize="hasRole('ADMIN')"
                      th:action="@{/books/series/{seriesId}/delete(seriesId=${series.id})}">
                    <button class="btn" type="submit">Remove</button>
                </form>
            </div>
        </div>
    </div>
</main>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('READER', 'GUSET')">
        <div th:each="book : ${books}">
            <div class="element">
                <h3>Book: </h3>

                <a th:href="@{'/books/' + ${book.id}}" th:text="${book.title}">Books</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>