<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!--    Style login and registration-->
    <link rel="stylesheet" th:href="@{/styles/css/login/login.css}">

    <style th:inline="text">
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url([[@{/images/login/cover.jpg}]]) no-repeat fixed center center;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="signup-wrap">
        <div class="title">
            <h1>Signup</h1>
        </div>

        <form method="post" th:action="@{/users}" th:object="${user}">
            <div class="input-area">
                <label for="username">Login
                    <input autocomplete="off" id="username" name="username" required th:value="*{username}" type="text">
                </label>
            </div>

            <div class="input-area">
                <label for="firstName">First name
                    <input autocomplete="off" id="firstName" name="firstName" required th:value="*{firstName}"
                           type="text">
                </label>
            </div>

            <div class="input-area">
                <label for="lastName">Last name
                    <input autocomplete="off" id="lastName" name="lastName" required th:value="*{lastName}" type="text">
                </label>
            </div>

            <div class="input-area">
                <label for="email">Email
                    <input autocomplete="off" id="email" name="email" required th:value="*{email}" type="email">
                </label>
            </div>

            <div class="input-area">
                <label for="rawPassword">Password
                    <input id="rawPassword" name="rawPassword" required type="password">
                </label>
            </div>

            <div class="button-area">
                <button type="submit" class="login-btn">Login</button>
            </div>

            <div class="form-toggle-area">
                <p>Have an account?
                    <span id="toggle-login">
                        <a th:href="@{/login}">Login now</a>
                    </span>
                </p>
            </div>
        </form>
    </div>
</div>

</body>
</html>