<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="header-logo">
                <a th:href="@{/}">Library</a>
            </div>

            <nav class="header-nav">
                <ul>
                    <li>
                        <a th:href="@{/books}">Books</a>
                        <div class="dropdown-menu">
                            <p><a th:href="@{/books/series}">Series</a></p>

                            <p><a th:href="@{/authors}">Authors</a></p>

                            <p><a th:href="@{/books/publishingHouses}">Houses</a></p>

                            <p><a th:href="@{/books/genres}">Genres</a></p>
                        </div>
                    </li>

                    <li sec:authorize="hasAnyRole('READER', 'LIBRARIAN')" th:each="user : ${users}">
                        <p th:if="${#authentication.getName() == user.username}">
                            <a th:href="@{/users/{userId}/(userId=${user.id})}">Account</a>
                        </p>
                    </li>

                    <li sec:authorize="hasRole('READER')">
                        <p><a th:href="@{/orders/userOrders}">Orders</a></p>
                    </li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <p><a th:href="@{/users/}">Users</a></p>
                    </li>

                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')">
                        <p><a th:href="@{/orders/}">Orders</a></p>
                    </li>
                </ul>
            </nav>

            <div class="header-login">
                <a class="btn" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

                <span class="header-login-name" sec:authentication="name" sec:authorize="isAuthenticated()">
                    Username
                </span>

                <form action="/logout" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn" type="submit">Logout</button>
                </form>

                <a class="cart" th:href="@{/orders/cart}">
                    <img alt="Cart" th:src="@{/images/home/icon/cart2.svg}">
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('ADMIN','READER')">
        <form enctype="multipart/form-data" method="post"
              th:action="@{/users/{userId}/update(userId=${user.id})}" th:object="${user}">

            <label for="username"> Login:
                <label th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></label>

                <input id="username" name="username" th:value="*{username}" type="text">
            </label><br>

            <label for="firstName"> First name:
                <input id="firstName" name="firstName" th:value="*{firstName}" type="text">
            </label><br>

            <label for="lastName"> Last name:
                <input id="lastName" name="lastName" th:value="*{lastName}" type="text">
            </label><br>

            <label for="birthday">Birthday:
                <input id="birthday" name="birthday" th:value="*{birthday}" type="date">
            </label><br>

            <label for="email"> Email:
                <label th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></label>

                <input id="email" name="email" th:value="*{email}" type="text">
            </label><br>

            <div th:if="${user.image}">
                <img alt="User image" th:src="@{/users/{userId}/avatar(userId=${user.id})}">
            </div>

            <label for="image"> Image:
                <input id="image" name="image" type="file">
            </label><br>

            <div sec:authorize="hasRole('ADMIN')">
                <label for="role">Role:
                    <select id="role" name="userRoleId">
                        <option th:each="role : ${roles}"
                                th:selected="${role.id == user.userRole.id}"
                                th:text="${role.name}"
                                th:value="${role.id}">Role
                        </option>
                    </select>
                </label>
            </div>

            <div sec:authorize="hasRole('ADMIN')">
                <label for="status">Status:
                    <select id="status" name="userStatusId">
                        <option th:each="status : ${statuses}"
                                th:selected="${status.id == user.userStatus.id}"
                                th:text="${status.name}"
                                th:value="${status.id}">Status
                        </option>
                    </select>
                </label>
            </div>

            <div class="button">
                <button class="btn" sec:authorize="hasAnyRole('ADMIN','READER')" type="submit">Update</button>
            </div>
        </form>

        <div class="button-form">
            <div class="button">
                <form method="post" sec:authorize="hasRole('ADMIN')"
                      th:action="@{/users/{userId}/delete(userId=${user.id})}">
                    <button class="btn" type="submit">Remove</button>
                </form>
            </div>
        </div>

        <div class="error" th:if="${errors}">
            <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
        </div>
    </div>
</main>

<main>
    <div class="product-element" sec:authorize="hasRole('LIBRARIAN')">
        <div class="element">
            <h3>Username: </h3>

            <p th:text="${user.username}"></p>
        </div>

        <div class="element">
            <h3>First name: </h3>

            <p th:text="${user.firstName}"></p>
        </div>

        <div class="element">
            <h3>Last name: </h3>

            <p th:text="${user.lastName}"></p>
        </div>

        <div class="element">
            <h3>Email: </h3>

            <p th:text="${user.email}"></p>
        </div>

        <div class="element">
            <h3>Status: </h3>

            <p th:text="${user.userStatus.name}"></p>
        </div>
    </div>
</main>

</body>
</html>