<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">
</head>
<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>

<main>
    <form class="main-user" enctype="multipart/form-data" method="post"
          th:action="@{/users/{userId}/update(userId=${user.id})}" th:object="${user}">

        <label for="username"> Login:
            <input id="username" name="username" th:value="*{username}" type="text">
        </label><br>

        <label for="firstName"> First name:
            <input id="firstName" name="firstName" th:value="*{firstName}" type="text">
        </label><br>

        <label for="lastName"> Last name:
            <input id="lastName" name="lastName" th:value="*{lastName}" type="text">
        </label><br>

        <label for="birthday">Birthday:
            <input id="birthday" name="birthday" th:value="*{birthday}" type="date">
        </label><br>

        <label for="email"> Email:
            <input id="email" name="email" th:value="*{email}" type="text">
        </label><br>

        <div th:if="${user.image}">
            <img alt="User image" th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}">
        </div>

        <label for="image"> Image:
            <input id="image" name="image" type="file">
        </label><br>

        <div sec:authorize="hasRole('ADMIN')">
            <label for="role">Role:
                <select id="role" name="userRoleId">
                    <option th:each="role : ${roles}"
                            th:selected="${role.id == user.userRole.id}"
                            th:text="${role.name}"
                            th:value="${role.id}">Role
                    </option>
                </select>
            </label>
        </div>

        <div sec:authorize="hasRole('ADMIN')">
            <label for="status">Status:
                <select id="status" name="userStatusId">
                    <option th:each="status : ${statuses}"
                            th:selected="${status.id == user.userStatus.id}"
                            th:text="${status.name}"
                            th:value="${status.id}">Status
                    </option>
                </select>
            </label>
        </div>

        <button class="btn" sec:authorize="hasRole('ADMIN')" type="submit">Update</button>
    </form>
</main>

<form method="post" th:action="@{/users/{userId}/delete(userId=${user.id})}" sec:authorize="hasRole('ADMIN')">
    <button class="btn" type="submit">Remove</button>
</form>

</body>
</html>