<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style filter-->
    <link rel="stylesheet" th:href="@{/styles/css/filter.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">
</head>
<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>

<main>
    <header>
        <div class="header-search">
            <form action="/users" class="search">
                <label class="search-label" for="firstName">
                    <button class="btn search" type="submit">Filter</button>

                    <input class="search-input" id="username" name="username" placeholder="Username"
                           th:value="${filter.username}" type="text">

                    <input class="search-input" id="firstName" name="firstName" placeholder="First name"
                           th:value="${filter.firstName}" type="text">

                    <input class="search-input" id="lastName" name="lastName" placeholder="Last name"
                           th:value="${filter.lastName}" type="text">

                    <input class="search-input" id="email" name="email" placeholder="Email" th:value="${filter.email}"
                           type="text">

                    <input class="search-input" id="size" name="size" type="number">

                    <input class="search-input" id="page" name="page" th:value="${users.metadata.page}" type="number">
                </label>
            </form>
        </div>
    </header>

    <div class="parameter-controls">
        <section class="featured-section">
            <div class="container">
                <div class="products-wrapper" th:each="user : ${users.content}">
                    <a class="product-link" th:href="@{'/users/' + ${user.id}}">
                        <h4 class="product_title">
                            <span th:text="|${user.firstName} ${user.lastName}|"> User</span>
                        </h4>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>

</body>
</html>