.featured-section {
    padding-top: 60px;
    padding-bottom: 70px;
}

.container {
    text-align: center;
}

.product {
    display: block;
    max-width: 270px;
    margin-top: 30px;
}

.products-wrapper {
    display: inline-block;
    margin-right: 30px;
}

.section-header {
    margin-bottom: 40px;
}

.section-header-title {
    margin: 0 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
}

.section-header-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
}

.section-header-description p {
    margin-top: 0;
}

.product-image {
    max-width: 270px;
    max-height: 350px;
    display: block;
    margin-bottom: 12px;
}

.product_title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

.product-link {
    transition: opacity 0.2s ease-in;
}

.product-link:hover {
    opacity: 0.8;
}

.btn {
    margin-left: 20px;
}

.section-input-books {
    margin-left: 50px;
}