<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="footer">
    <ul class="social_icon">
        <li><a href="#"><img alt="facebook" th:src="@{/images/footer/icon/facebook.svg}"></a></li>

        <li><a href="#"><img alt="instagram" th:src="@{/images/footer/icon/instagram.svg}"></a></li>

        <li><a href="#"><img alt="linkedin" th:src="@{/images/footer/icon/linkedin.svg}"></a></li>

        <li><a href="#"><img alt="twitter.svg" th:src="@{/images/footer/icon/twitter.svg}"></a></li>
    </ul>

    <ul class="menu">
        <li><a href="#"></a>News</li>

        <li><a href="#"></a>About</li>

        <li><a href="#"></a>Contact</li>
    </ul>

    <p>©Library 2022</p>
</footer>
</body>
</html>