.footer {
    position: relative;
    width: 100%;
    background: var(--header-hover);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li a {
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a {
    font-size: 1.2em;
    margin: 0 10px;
    color: #292929;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li {
    cursor: pointer;
}

footer p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}