.search-label {
    display: flex;
}

.search-input {
    padding: 5px 17px 10px;
    flex-grow: 1;
}

.footer-end {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}