<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    <img th:src="@{/images/door-closed.svg}" alt="Cart">-->
    <!--    <img th:src="@{/images/cart.svg}" alt="Cart">-->
    <!--    <img th:src="@{/images/header.jpg}" alt="photo">-->

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Playfair+Display&display=swap"
          rel="stylesheet">
</head>
<body>
</body>
</html>