<!DOCTYPE HTML>
<html lang="EN" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cart</title>
</head>

<body>
<div class="container">
    <h1>
        <span sec:authentication="name"></span>'s Shopping Cart
    </h1>

    <div th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>

    <div th:each="book : ${books.entrySet()}">
        <div>
            <h1>
                <a th:href="@{'/books/' + ${book.getKey().id}}" th:text="${book.getKey().title}">Title</a>
            </h1>

            <h3 th:text="${book.getKey().title}">Title</h3>
        </div>
        <div>
            <span th:inline="|Quantity: ${book.getValue()}|"></span>

            <a th:href="@{'/shoppingCart/removeProduct/{id}'(id=${book.getKey().id})}">
                <button class="btn" th:text="Remove" type="button">Remove</button>
            </a>
        </div>
        <br>
    </div>

    <div>
        <a th:href="@{'/shoppingCart/checkout'}">
            <button th:text="Checkout" type="button">Checkout</button>
        </a>
    </div>
</div>

</body>
</html>