main .home {
    position: relative;
    padding: 175px 0;
    min-height: 895px;
}

main .home-content {
    max-width: 440px;
}

main .home-content .home-heading {
    color: var(--header-hover);
    font-weight: 700;
    font-size: 65px;
}

main .home-content .home-heading + * {
    margin-top: 30px;
}

main .home-content .home-text {
    color: white;
    line-height: 144.5%;
    max-width: 430px;
}

main .home-content .home-text + * {
    margin-top: 53px;
}

main .home-content .home-btn {
    display: flex;
}

main .home .home-bg-img {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

main .home .home-bg-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}