.featured-section {
    padding-top: 60px;
    padding-bottom: 70px;
}

.container {
    text-align: center;
}

/*Header*/
.section-header {
    margin-bottom: 40px;
}

.section-header-title {
    margin: 0 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
}

.section-header-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
}

.section-header-description p {
    margin-top: 0;
}

/*Products*/
.products-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    display: inline-block;
    margin-right: 30px;
}

.product-link {
    transition: opacity 0.2s ease-in;
}

.product-link:hover {
    opacity: 0.8;
}

.product {
    text-align: center;
    padding: 3rem 2rem;
}

.product img {
    height: 25rem;
}

.product:hover img {
    transform: scale(0.9);
}

.product_title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}

.product-element {
    text-align: center;
}

.element {
    display: flex;
    justify-content: center;
}

.element h3 {
    color: var(--header-hover);
}

.product-element h3 {
    color: var(--header-hover);
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.button-form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.img-book {
    padding-top: 10px;
    padding-bottom: 30px;
}

.last {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}