<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add series</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">
</head>

<body>

<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('ADMIN','LIBRARIAN')">
        <form method="post" th:action="@{/books/publishingHouses}" th:object="${publishingHouses}">
            <label for="name"> Name:
                <label th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></label>

                <input id="name" name="name" th:value="*{name}" type="text">
            </label><br>

            <div class="last">
                <div class="button-form">
                    <button class="btn" type="submit">Add new book publishing house</button>
                </div>
            </div>

            <div th:if="${errors}">
                <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
            </div>
        </form>
    </div>
</main>

</body>
</html>