<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book series</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">

    <!--    Style filter-->
    <link rel="stylesheet" th:href="@{/styles/css/filter.css}">
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="header-logo">
                <a th:href="@{/}">Library</a>
            </div>

            <nav class="header-nav">
                <ul>
                    <li>
                        <a th:href="@{/books}">Books</a>
                        <div class="dropdown-menu">
                            <p><a th:href="@{/books/series}">Series</a></p>

                            <p><a th:href="@{/authors}">Authors</a></p>

                            <p><a th:href="@{/books/publishingHouses}">Houses</a></p>

                            <p><a th:href="@{/books/genres}">Genres</a></p>
                        </div>
                    </li>

                    <li sec:authorize="hasAnyRole('READER', 'LIBRARIAN')" th:each="user : ${users}">
                        <p th:if="${#authentication.getName() == user.username}">
                            <a th:href="@{/users/{userId}/(userId=${user.id})}">Account</a>
                        </p>
                    </li>

                    <li sec:authorize="hasRole('READER')">
                        <p><a th:href="@{/orders/userOrders}">Orders</a></p>
                    </li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <p><a th:href="@{/users/}">Users</a></p>
                    </li>

                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')">
                        <p><a th:href="@{/orders/}">Orders</a></p>
                    </li>
                </ul>
            </nav>

            <div class="header-login">
                <a class="btn" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

                <span class="header-login-name" sec:authentication="name" sec:authorize="isAuthenticated()">
                    Username
                </span>

                <form action="/logout" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn" type="submit">Logout</button>
                </form>

                <a class="cart" th:href="@{/orders/cart}">
                    <img alt="Cart" th:src="@{/images/home/icon/cart2.svg}">
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <header>
        <div>
            <form action="/books/publishingHouses">
                <label class="search-label" for="name">
                    <button class="btn search" type="submit">Filter</button>

                    <input class="search-input" id="name" name="name" placeholder="Search" th:value="${filter.name}"
                           type="text">

                    <input class="search-input" id="page" name="page" th:value="${publishingHouses.metadata.page}"
                           type="number">

                    <input class="search-input" id="size" name="size" th:value="${publishingHouses.metadata.size}"
                           type="number">

                    <a class="btn" sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')"
                       th:href="@{/books/publishingHouses/addPublishingHouses}">Add new book publishing house
                    </a>
                </label>
            </form>
        </div>
    </header>

    <div>
        <section class="featured-section">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-header-title">Publishing houses</h2>

                    <div class="section-header-description">
                        <p>World of Reading</p>
                    </div>
                </div>

                <div class="products-wrapper" th:each="publishingHouse : ${publishingHouses.content}">
                    <a class="product-link" th:href="@{'/books/publishingHouses/' + ${publishingHouse.id}}">
                        <div class="product">
                            <h4 class="product_title">
                                <span th:text="${publishingHouse.name}"> Publishing house</span>
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>

</body>
</html>