<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Series</title>

    <!--    Style main-->
    <link rel="stylesheet" th:href="@{/styles/css/main.css}">

    <!--    Style for product-->
    <link rel="stylesheet" th:href="@{/styles/css/product/product.css}">

    <!--    Style filter-->
    <link rel="stylesheet" th:href="@{/styles/css/filter.css}">

    <style th:inline="text">
        .cart img {
            max-height: 50px;
        }
    </style>
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="header-logo">
                <a th:href="@{/}">Library</a>
            </div>

            <nav class="header-nav">
                <ul>
                    <li>
                        <a th:href="@{/books}">Books</a>
                        <div class="dropdown-menu">
                            <p><a th:href="@{/books/series}">Series</a></p>

                            <p><a th:href="@{/authors}">Authors</a></p>

                            <p><a th:href="@{/books/publishingHouses}">Houses</a></p>

                            <p><a th:href="@{/books/genres}">Genres</a></p>
                        </div>
                    </li>

                    <li sec:authorize="hasAnyRole('READER', 'LIBRARIAN')" th:each="user : ${users}">
                        <p th:if="${#authentication.getName() == user.username}">
                            <a th:href="@{/users/{userId}/(userId=${user.id})}">Account</a>
                        </p>
                    </li>

                    <li sec:authorize="hasRole('READER')">
                        <p><a th:href="@{/orders/userOrders}">Orders</a></p>
                    </li>

                    <li sec:authorize="hasRole('ADMIN')">
                        <p><a th:href="@{/users/}">Users</a></p>
                    </li>

                    <li sec:authorize="hasAnyRole('ADMIN', 'LIBRARIAN')">
                        <p><a th:href="@{/orders/}">Orders</a></p>
                    </li>
                </ul>
            </nav>

            <div class="header-login">
                <a class="btn" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

                <span class="header-login-name" sec:authentication="name" sec:authorize="isAuthenticated()">
                    Username
                </span>

                <form action="/logout" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn" type="submit">Logout</button>
                </form>

                <a class="cart" th:href="@{/orders/cart}">
                    <img alt="Cart" th:src="@{/images/home/icon/cart2.svg}">
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('ADMIN','LIBRARIAN')">
        <form method="post"
              th:action="@{/books/publishingHouses/{publishingHousesId}/update(publishingHousesId=${publishingHouse.id})}"
              th:object="${publishingHouse}">

            <label for="name"> Name:
                <label th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></label>

                <input id="name" name="name" th:value="*{name}" type="text">
            </label><br>

            <div class="button">
                <button class="btn" type="submit">Update</button>
            </div>
        </form>

        <div class="button-form">
            <div class="button">
                <form class="button" method="post" sec:authorize="hasRole('ADMIN')"
                      th:action="@{/books/publishingHouses/{publishingHousesId}/delete(publishingHousesId=${publishingHouse.id})}">
                    <button class="btn" type="submit">Remove</button>
                </form>
            </div>
        </div>

        <div th:if="${errors}">
            <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
        </div>
    </div>
</main>

<main>
    <div class="product-element" sec:authorize="hasAnyRole('READER', 'GUSET')">
        <div th:each="book : ${books}">
            <div class="element">
                <h3>Book: </h3>

                <a th:href="@{'/books/' + ${book.id}}" th:text="${book.title}">Books</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>